.navbar{
 opacity: .9;
}

.navbar .nav-item .nav-link .dropdown-menu .dropdown-item {
    color: var(--rose);
}
.bg-dark{
    background-color: var(--dark );
   
}

.nav-link{
    color: var(--white);
    text-transform: uppercase;

}

.log {
    width: 47%;
}

.form-control, .btn{
    border-radius: 5;
  }
  
  section {
    padding: 6rem 0;
}

